<h1>Merci de confirmer votre email</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien s'expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bon shopping !
</p>