{% extends 'base.html.twig' %}

{% block title %} Félicitations pour votre commande !{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="felicitations">

        <p class="message"> Votre commande a bien été enregistrée, merci !
            <i class="fa-solid fa-face-grin"></i>
        </p>

    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="bouton-valide">

        <button type="button" class="btn btn-warning">
            <a class="valider" href="{{ path('categorie') }}">Retour à l'accueil</a>
        </button>

    </div>
</div>

<div class="row">
    <div class="col-12">

        <img class="img-fluid" src="{{ absolute_url('/assets/images/felicitations.jpeg') }}" alt="felicitations"
            id="felicitations-image">
    </div>

</div>
{% endblock %}