{% extends 'base.html.twig' %}

{% block title %} Profil {% endblock %}

{% block body %}

<div class="row" id="ariane">
    <ul class="crumb">
        <li><a href="{{ path('categorie') }}">Accueil</a></li>
    </ul>
</div>

{% set nom = '' %}
{% set prenom = '' %}
{% set adresse = '' %}
{% set ville = '' %}
{% set cp = '' %}
{% set telephone = '' %}
{% set type = '' %}

{% if profil %}

{% set nom = profil.nom %}
{% set prenom = profil.prenom %}
{% set adresse = profil.adresse %}
{% set ville = profil.ville %}
{% set cp = profil.cp %}
{% set telephone = profil.telephone %}
{% set type = profil.type %}

{% endif %}




<form method="post" action="{{ path('post_client') }}">

    <h1 id="titre"> Entrez vos informations personnelles </h1>

    <div class="row" id="infos">
        <div class="col-12">

            {% for flash_error in app.flashes('connexion') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div class="form-group">
                <label for="nom">Nom :</label>
                <input required type="text" value="" class="form-control" id="nom" name="nom">
            </div>
            <br>
            <div class="form-group">
                <label for="prenom">Prénom :</label>
                <input required type="text" value="" class="form-control" id="prenom" name="prenom">
            </div>
            <br>
            <div class="form-group">
                <label for="adresse">Adresse :</label>
                <input required type="text" value="" class="form-control" id="adresse" name="adresse">
            </div>
            <br>
            <div class="form-group">
                <label for="cp">Code postal :</label>
                <input required type="text" value="" class="form-control" id="cp" name="cp">
            </div>
            <br>
            <div class="form-group">
                <label for="ville">Ville :</label>
                <input required type="text" value="" class="form-control" id="ville" name="ville">
            </div>
            <br>
            <label for="type">Vous êtes :</label> <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="type" value="par">
                <label class="form-check-label" for="radio1">Un particulier</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="type" value="pro">
                <label class="form-check-label" for="radio2">Un professionnel</label>
            </div>
            <br><br>
            <div class="form-group">
                <label for="telephone">Téléphone :</label>
                <input required type="tel" value="" class="form-control" id="telephone" name="telephone">
            </div>


            <input type="hidden" name="_csrf_token" value="">
        </div>
    </div>

    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me
    functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    #}

    <div class="row">
        <div class="col-12 bouton-connexion">
            <button type="submit" class="btn btn-dark">
                Valider mes informations
            </button>
        </div>
    </div>

</form>
{% endblock %}