{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}

<button type="button" class="btn btn-dark">
    <a href="{{ path('admin_index') }}">Retour à la liste de produits</a>
</button>

<h1 id="titre-admin">Créer un nouveau produit</h1>

{{ include('admin/_form.html.twig') }}

{% endblock %}